/**
* Template Name: Flatty
* Template URL: https://templatemag.com/flatty-bootstrap-app-landing-page-template/
* Author: TemplateMag.com
* License: https://templatemag.com/license/
*/

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
  color:#737373;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
}
.navbar.solid {
  background: rgba(221, 220, 220, 0.7)!important;
  transition: background-color 1s ease 0s;
  color: black;
}
.navbar-default {
  background-color: white;
  border-color: transparent;
  box-shadow: 0px 0px 5px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #97C2FC;
  font-weight: normal;
}

.navbar-toggle {
  background: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color:  #3790FF;
}
/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
  width: 280px;
}

i {
  margin: 8px;
  color: #3498db;
}

/* HeaderWrap */

#headerwrap {
  /* background: url(../img/bg01.jpg) no-repeat center top; */

  margin-top: -20px;
  padding-top: 200px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media only screen and (max-width:600px){
  .kepala{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gambar{
    display: contents;
  }
  .gambar img{
    width: -webkit-fill-available;
    height:-webkit-fill-available;
    justify-content: center;
  }
  .kalimat{
    display: contents;
    margin-top:0px !important;
  }
  .kontak{
    left: 0px;
    width: 50%;
  
  }
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 100px;
  }

  #headerwrap h1 {
    margin-top: 10px;
    font-size: 36px;
  }
  .kontak{
    left: 0px;
    width: 50%;
  
  }
  .medsos{
    width: 50%;
    left: 20px
  }
  .pricing-column{
    justify-content: center !important;
    width: 100%;
    padding: 10px;
    width: -webkit-fill-available;
    height:-webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
  }
  .mt.centered {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .gambar img{
    width: -webkit-fill-available;
    height:-webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Contact Form */
.kontak{
  left:50px;
}
#contact {
  padding: 40px 0;
}

.contact-form {
  color:white;
}

.contact-form label {
  color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  width: 100%;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #f0ad4e;
  border: 0;
  padding: 12px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #fabf6b;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background: #1554A1;
  padding: 20px 0;


  

}


#copyrights p {
  margin-bottom: 10px;
  color: #fff;
  width: 336px;
  height: 87px;
  left: 100px;
}

#copyrights a {
  color: #fff;
}

.credits {
  color: #fff;
}



.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}
a.top-scroll:hover {
  opacity: .5;
}

@media screen and (min-width:768px) and  (max-width:1024px){
  .kepala{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gambar{
    display: contents;
  }
  .kalimat{
    display: contents;
    margin-top:0px !important;
  }
  .kalimat tulisanawal {
    text-align: center;
    justify-content: center;
  }
  .kalimat tulisandepan {
    text-align: center;
    justify-content: center;
  }
  .kontak{
    left: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  
  }
  .medsos{
    left: 20px;
    width: 50%;

  }
  .gambar img{
    width: -webkit-fill-available;
    height:-webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
  

/*.home-inner {
  background-image: url('img/computers.png');
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
}
.caption h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}

/*============= FEATURES SECTION =============*/

/*.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-turquoise {
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-turquoise:hover,
.btn-turquoise:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}
.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1rem 0 3rem;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1EBBA3;
  margin: 0 auto 2rem;
}
.feature {
  text-align: center;
}
.feature .fa-layers {
  color: #1EBBA3;
  margin: 0 auto;
  width: 3.9rem;
  height: 6rem;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*#fixed {
  background-image: url('img/fixed/apple.png');
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.dark h3, .dark p {
  color: #E9ECEF;
}

/*============= PORTFOLIO SECTION =============*/

/*.row.padding {
  padding: 2rem 0 1rem;
}
img.example-image {
  max-width: 100%;
}
.row.no-padding [class*=col-] {
  padding: 0;
}
.portfolio-item img:hover {
  transform: scale(1.3);
  cursor: zoom-in;
}
.portfolio-item img {
  transition: transform .4s ease;
}
.portfolio-item {
  overflow: hidden;
}

/*============= PRICING SECTION =============*/

.pricing-column {
  padding: 2rem;
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
  justify-content: center;
}
.pricing-column:hover {
  transform: scale(1.1);
}


/*.ribbon {
  background-color: #6c757d;
  color: white;
  width: 10rem;
  height: 2rem;
  font-size: .8rem;
  font-weight: 700;
  padding-top: .4rem;
  position: absolute;
  right: -2.8rem;
  top: 1.6rem;
  transform: rotate(45deg);
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.25);
}

/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

#fixed-2 {
  background-color:  blue;
  z-index: -1;
}
.light {
  background-color: blue;
  padding: 3rem 2rem 2rem;
  z-index: 1000!important;
}
.taukah {
  border-radius: 0;
  border: .1rem solid rgba(0, 0, 0, .075);
  box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
  margin: 0 1rem;
  transition: transform .4s ease;
}
.taukah-img-top {
  border-radius: 0;
}
.taukah:hover {
  transform: scale(.95);
}
.taukah h4 {
  font-weight: 700;
}
.taukah h5 {
  color: #1ebba3;
}
.taukah p {
  border-top: .1rem solid rgba(0, 0, 0, .1);
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
  padding: 1rem;
  margin: 1rem 0 1.5rem;
}
.taukah svg.svg-inline--fa {
  color: #1ebba3!important;
  font-size: 1.3rem;
  width: 2rem;
}
.taukah svg.svg-inline--fa:hover {
  color: #6c757d!important;
}
.owl-dot.active span,
.owl-dot:hover span {
  background: #3790FF!important;
}

/*============= SKILLS SECTION =============*/

.skill h3 {
  color: #1EBBA3;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0 .5rem;
}
.skill p {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

/*============= CLIENTS SECTION =============*/

.clients img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform .3s ease;
}
.clients img:hover {
  transform: scale(0.95);
}
blockquote .svg-inline--fa {
  margin: 1rem;
  color: #1EBBA3;
}
.clients-hr {
  border-top: .05rem solid #1EBBA3;
}

/*============= CONTACT SECTION =============*/

footer {
  background: url('img/footer/footer.png') no-repeat;
  /*background-color: #40474e;*/
  background-size: cover;
  color: white;
}
footer .row {
  background-color:  #0072FF;
  padding: 1rem 2rem 3rem;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
footer img {
  height: 2rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: whitesmoke!important;
}
footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
}
/*--- Contact Form --*/
.form-group {
  margin-bottom: 1.3rem;
}
.form-control {
  background-color:  #0072FF;
  border-radius: 0;
  border: .15rem solid  whitesmoke;
  color: white!important;
  font-size: 1.1rem;
}
.form-control:focus {
  background:  #0072FF;
  border: .15rem solid  whitesmoke;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b2b5b8!important;
}
input.btn {
  cursor: pointer;
}
hr.socket {
  border-top: .2rem solid whitesmoke;
  width: 100%;
}

/*============= TOP SCROLL =============*/

.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}
a.top-scroll:hover {
  opacity: .5;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .caption h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
  .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2.1rem;
  }
  /*--- Drop-down Menu --*/
  .dropdown-submenu.solid, .dropdown-menu.show.solid {
    background: transparent!important;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .6rem 1.1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  #fixed {
    background-image: url('img/fixed/apple-mobile.png');
  }
  #fixed-2 {
    background-image: url('img/fixed/office-mobile.png');
  }
  footer {
    background: url('img/footer/footer-mobile.png') no-repeat;
  }
  .clients img {
    max-width: 50%;
    margin: 0 auto;
  }
  .top-scroll {
    display: none!important;
  }
  .kalimat tulisanawal {
    text-align: center;
    justify-content: center;
  }
  .kalimat tulisandepan {
    text-align: center;
    left: 20px;
    justify-content: center;
  }
}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
  .caption h1 {
    font-size: 1.9rem;
    letter-spacing: .1rem;
    padding-bottom: .4rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .btn-lg {
    padding: .4rem .9rem;
    font-size: .9rem;
  }
  .narrow {
    width: 85%;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/